.vscode
.idea
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
*/*/*/.ipynb_checkpoints/
*/*/.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/*/.ipynb.amltmp
*/.ipynb.amltmp
.ipynb.amltmp
*/*/.py.amltmp
*/.py.amltmp
.py.amltmp
*/*/.amlignore
*/.amlignore
.amlignore
*/*/.ipynb_aml_checkpoints
*/.ipynb_aml_checkpoints
.ipynb_aml_checkpoints
*/*/.pytest_cache
*/.pytest_cache
.pytest_cache