ai/__pycache__/env.cpython-39.pyc
ai/__pycache__/env.cpython-310.pyc
kniffel/__pycache__/__init__.cpython-39.pyc
kniffel/classes/*
ai/__pycache__/env.cpython-310.pyc
kniffel/classes/__pycache__/kniffel.cpython-310.pyc
